if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ATUALIZAR_CARGO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ATUALIZAR_CARGO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ATUALIZAR_CONTATO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ATUALIZAR_CONTATO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ATUALIZAR_PONTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ATUALIZAR_PONTO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ATUALIZAR_USUARIO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ATUALIZAR_USUARIO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AUTENTICAR_USUARIO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AUTENTICAR_USUARIO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EXCLUIR_CARGO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EXCLUIR_CARGO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EXCLUIR_CONTATO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EXCLUIR_CONTATO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EXCLUIR_PONTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EXCLUIR_PONTO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FECHAR_PONTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[FECHAR_PONTO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_ANEXO_ENVIADO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_ANEXO_ENVIADO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_ARQUIVO_RECADO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_ARQUIVO_RECADO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_CARGO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_CARGO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_CONTATO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_CONTATO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_EMAIL_ENVIADO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_EMAIL_ENVIADO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_PONTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_PONTO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_RECADO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_RECADO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_RECADO_DESTINATARIO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_RECADO_DESTINATARIO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERIR_USUARIO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[INSERIR_USUARIO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LER_RECADO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[LER_RECADO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_CARGOS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_CARGOS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_CONTATOS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_CONTATOS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_CONTATOS_POR_FILTRO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_CONTATOS_POR_FILTRO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_HORAS_TRABALHADAS_POR_FILTRO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_HORAS_TRABALHADAS_POR_FILTRO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_NUMERO_RECADOS_NAO_LIDOS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_NUMERO_RECADOS_NAO_LIDOS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_RECADOS_POR_DESTINATARIO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_RECADOS_POR_DESTINATARIO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_USUARIOS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_USUARIOS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OBTER_USUARIO_POR_LOGIN]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[OBTER_USUARIO_POR_LOGIN]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[REGISTRAR_PONTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[REGISTRAR_PONTO]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO











CREATE  PROCEDURE [dbo].[ATUALIZAR_CARGO]
@ID_CARGO INT,
@NOME_CARGO VARCHAR(100),
@SALARIO_HORA NUMERIC(6,2) = NULL,
@SALARIO_MENSAL NUMERIC(8,2) = NULL

AS

UPDATE CARGO SET NOME_CARGO=@NOME_CARGO,SALARIO_HORA=@SALARIO_HORA,SALARIO_MENSAL=@SALARIO_MENSAL WHERE ID_CARGO = @ID_CARGO





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


















CREATE          PROCEDURE [dbo].[ATUALIZAR_CONTATO]
@ID_CONTATO int,
@NOME VARCHAR(150),
@TELEFONE VARCHAR(13)=NULL,
@CELULAR VARCHAR(13)=NULL,
@EMAIL VARCHAR(150)=NULL,
@EXIBIR_USUARIO BIT
AS
UPDATE CONTATO SET NOME = @NOME,TELEFONE = @TELEFONE,
CELULAR = @CELULAR, EMAIL = @EMAIL, EXIBIR_USUARIO = @EXIBIR_USUARIO
WHERE ID_CONTATO = @ID_CONTATO
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO










CREATE PROCEDURE [dbo].[ATUALIZAR_PONTO]
@ID_PONTO int OUT,
@ID_USUARIO INT,
@DATA_PONTO DATETIME,
@HORA_INICIO DATETIME,
@HORA_FIM DATETIME
AS
UPDATE PONTO SET
DATA_PONTO = @DATA_PONTO,ID_USUARIO = ID_USUARIO,HORA_INICIO = @HORA_INICIO,HORA_FIM = @HORA_FIM
WHERE ID_PONTO = @ID_PONTO

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO










CREATE PROCEDURE [dbo].[ATUALIZAR_USUARIO]
@ID_USUARIO INT,
@LOGIN VARCHAR(50),
@SENHA VARCHAR(30) = NULL,
@NOME VARCHAR(150),
@RG VARCHAR(10),
@CPF VARCHAR(11),
@EMAIL VARCHAR(150),
@TELEFONE VARCHAR(13),
@CELULAR VARCHAR(13),
@LOGRADOURO VARCHAR(100),
@NUMERO CHAR(10),
@COMPLEMENTO VARCHAR(40),
@BAIRRO VARCHAR(50),
@CIDADE VARCHAR(50),
@ESTADO CHAR(2)

AS

IF(@SENHA IS NOT NULL)
BEGIN
	UPDATE USUARIO
	SET LOGIN = @LOGIN,NOME = @NOME,RG = @RG,CPF = @CPF,EMAIL = @EMAIL, TELEFONE = @TELEFONE, CELULAR = @CELULAR,
	SENHA = @SENHA,LOGRADOURO = @LOGRADOURO,NUMERO = @NUMERO,COMPLEMENTO = @COMPLEMENTO,BAIRRO = @BAIRRO,CIDADE = @CIDADE,ESTADO = @ESTADO
	WHERE ID_USUARIO = @ID_USUARIO
END
ELSE
BEGIN
	UPDATE USUARIO
	SET LOGIN = @LOGIN,NOME = @NOME,RG = @RG,CPF = @CPF,EMAIL = @EMAIL, TELEFONE = @TELEFONE, CELULAR = @CELULAR,
	LOGRADOURO = @LOGRADOURO,NUMERO = @NUMERO,COMPLEMENTO = @COMPLEMENTO,BAIRRO = @BAIRRO,CIDADE = @CIDADE,ESTADO = @ESTADO
	WHERE ID_USUARIO = @ID_USUARIO
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO









CREATE       PROCEDURE [dbo].[AUTENTICAR_USUARIO]
@LOGIN VARCHAR(50),
@SENHA VARCHAR(30)
AS
SELECT COUNT (LOGIN) FROM USUARIO WHERE LOGIN = @LOGIN AND SENHA=@SENHA









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO








CREATE  PROCEDURE [DBO].[EXCLUIR_CARGO]
@ID_CARGO INT
AS
DELETE CARGO WHERE ID_CARGO = @ID_CARGO



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


















CREATE          PROCEDURE [dbo].[EXCLUIR_CONTATO]
@ID_CONTATO int

AS
DELETE FROM CONTATO WHERE ID_CONTATO = @ID_CONTATO








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO











CREATE         PROCEDURE [dbo].[EXCLUIR_PONTO]
@ID_PONTO int
AS
DELETE PONTO WHERE ID_PONTO = @ID_PONTO












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO









CREATE   PROCEDURE [DBO].[FECHAR_PONTO]
@ID_PONTO INT
AS
UPDATE PONTO
SET HORA_FIM = GETDATE()
WHERE ID_PONTO=@ID_PONTO




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE  PROCEDURE [dbo].[INSERIR_ANEXO_ENVIADO]
@ID_ANEXO_ENVIADO INT OUT,
@ID_EMAIL_ENVIADO INT,
@CAMIHHO_ANEXO VARCHAR(500)
AS
INSERT INTO ANEXO_ENVIADO VALUES
(@ID_EMAIL_ENVIADO,@CAMIHHO_ANEXO)
SET @ID_ANEXO_ENVIADO = SCOPE_IDENTITY()


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO




CREATE PROCEDURE [DBO].[INSERIR_ARQUIVO_RECADO]
@ID_RECADO int,
@CAMINHO_ARQUIVO varchar(300)
AS
INSERT INTO ARQUIVO VALUES
(@ID_RECADO,@CAMINHO_ARQUIVO)




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO







CREATE  PROCEDURE [dbo].[INSERIR_CARGO]
@ID_CARGO int OUT,
@NOME_CARGO VARCHAR(100),
@SALARIO_HORA NUMERIC(6,2) = NULL,
@SALARIO_MENSAL NUMERIC(8,2)= NULL
AS
INSERT INTO CARGO VALUES(@NOME_CARGO,@SALARIO_HORA,@SALARIO_MENSAL)
SET @ID_CARGO = SCOPE_IDENTITY()








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


















CREATE          PROCEDURE [dbo].[INSERIR_CONTATO]
@ID_CONTATO int OUT,
@NOME VARCHAR(150),
@TELEFONE VARCHAR(13)=NULL,
@CELULAR VARCHAR(13)=NULL,
@EMAIL VARCHAR(150)=NULL,
@EXIBIR_USUARIO BIT
AS
INSERT INTO CONTATO VALUES
(@NOME,@TELEFONE,@CELULAR,@EMAIL,@EXIBIR_USUARIO)
SET @ID_CONTATO = SCOPE_IDENTITY()
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE  PROCEDURE [dbo].[INSERIR_EMAIL_ENVIADO]
@ID_EMAIL_ENVIADO INT OUT,
@ID_USUARIO INT,
@DESTINATARIOS VARCHAR(400),
@ASSUNTO VARCHAR(400),
@MENSAGEM VARCHAR(3000)
AS
INSERT INTO EMAIL_ENVIADO VALUES
(@ID_USUARIO,CONVERT(DATETIME,CONVERT(varchar(12), GETDATE(), 101)),
@DESTINATARIOS,@ASSUNTO,@MENSAGEM)
SET @ID_EMAIL_ENVIADO = SCOPE_IDENTITY()


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE         PROCEDURE [dbo].[INSERIR_PONTO]
@ID_PONTO int OUT,
@ID_USUARIO INT,
@DATA_PONTO DATETIME,
@HORA_INICIO DATETIME,
@HORA_FIM DATETIME
AS
INSERT INTO PONTO VALUES
(@DATA_PONTO,@ID_USUARIO,@HORA_INICIO,@HORA_FIM)
SET @ID_PONTO = SCOPE_IDENTITY()

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





CREATE  PROCEDURE [DBO].[INSERIR_RECADO]
@ID_RECADO int OUT,
@ID_USUARIO_REMETENTE INT,
@ASSUNTO VARCHAR(250),
@DESCRICAO VARCHAR(3000),
@DATA_RECADO DATETIME
AS
INSERT INTO RECADO VALUES
(@ID_USUARIO_REMETENTE,@ASSUNTO,@DESCRICAO,@DATA_RECADO)
SET @ID_RECADO = SCOPE_IDENTITY()






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO




CREATE PROCEDURE [DBO].[INSERIR_RECADO_DESTINATARIO]
@ID_RECADO int OUT,
@ID_USUARIO_DESTINATARIO INT
AS
INSERT INTO RECADO_USUARIO_DESTINATARIO VALUES
(@ID_RECADO,@ID_USUARIO_DESTINATARIO,0)




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO









CREATE       PROCEDURE [dbo].[INSERIR_USUARIO]
@ID_CARGO INT,
@PERFIL INT,
@LOGIN VARCHAR(50),
@SENHA VARCHAR(30),
@NOME VARCHAR(150),
@RG VARCHAR(10),
@CPF VARCHAR(11),
@EMAIL VARCHAR(150),
@TELEFONE VARCHAR(13),
@CELULAR VARCHAR(13),
@LOGRADOURO VARCHAR(100),
@NUMERO CHAR(10),
@COMPLEMENTO VARCHAR(40),
@BAIRRO VARCHAR(50),
@CIDADE VARCHAR(50),
@ESTADO CHAR(2)

AS

INSERT INTO USUARIO
VALUES (@ID_CARGO,@PERFIL,@LOGIN,@SENHA,@NOME,@RG,@CPF,@EMAIL,@TELEFONE,
@CELULAR,@LOGRADOURO,@NUMERO,@COMPLEMENTO,@BAIRRO,@CIDADE,@ESTADO)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO






CREATE   PROCEDURE [DBO].[LER_RECADO]
@ID_RECADO INT,
@ID_USUARIO_DESTINATARIO INT
AS
UPDATE RECADO_USUARIO_DESTINATARIO SET
FLAG_LIDO = 1 WHERE ID_RECADO = @ID_RECADO
AND ID_USUARIO_DESTINATARIO = @ID_USUARIO_DESTINATARIO

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO








CREATE  PROCEDURE [DBO].[OBTER_CARGOS]
AS
SELECT ID_CARGO,NOME_CARGO,SALARIO_HORA,SALARIO_MENSAL FROM CARGO





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

















CREATE       PROCEDURE [dbo].[OBTER_CONTATOS]

AS


SELECT ID_CONTATO,NOME,TELEFONE,CELULAR,EMAIL,EXIBIR_USUARIO
FROM CONTATO









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO
















CREATE      PROCEDURE [dbo].[OBTER_CONTATOS_POR_FILTRO]
@NOME VARCHAR(100) = NULL,
@PERFIL INT

AS


SELECT NOME,TELEFONE,CELULAR,EMAIL
FROM CONTATO
WHERE (@NOME IS NULL OR NOME LIKE '%'+ @NOME +'%')
AND EXIBIR_USUARIO = CASE WHEN @PERFIL = 1 THEN 1 ELSE EXIBIR_USUARIO END
UNION
SELECT NOME,TELEFONE,CELULAR,EMAIL
FROM USUARIO
WHERE (@NOME IS NULL OR NOME LIKE '%'+ @NOME +'%')
ORDER BY NOME









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO









CREATE       PROCEDURE [dbo].[OBTER_HORAS_TRABALHADAS_POR_FILTRO]
@DATA_INICIAL DATETIME,
@DATA_FINAL DATETIME,
@NOME_USUARIO VARCHAR(100) = NULL,
@ID_USUARIO INT = NULL
AS
SELECT ID_PONTO,PONTO.ID_USUARIO,NOME,DATA_PONTO,HORA_INICIO,HORA_FIM,CAST(HORA_FIM - HORA_INICIO  AS DATETIME) AS TOTAL_PONTO,DATEDIFF(SECOND,HORA_INICIO,HORA_FIM) as TOTAL_PONTO_SEGUNDOS
FROM  PONTO,USUARIO
WHERE PONTO.ID_USUARIO = USUARIO.ID_USUARIO
AND (DATA_PONTO BETWEEN @DATA_INICIAL AND @DATA_FINAL)
AND (@NOME_USUARIO IS NULL OR NOME LIKE '%'+ @NOME_USUARIO +'%')
AND (@ID_USUARIO IS NULL OR PONTO.ID_USUARIO = @ID_USUARIO)
ORDER BY NOME,DATA_PONTO,HORA_INICIO,HORA_FIM









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO







CREATE    PROCEDURE [DBO].[OBTER_NUMERO_RECADOS_NAO_LIDOS]
@ID_USUARIO_DESTINATARIO INT
AS
SELECT COUNT(ID_RECADO) FROM RECADO_USUARIO_DESTINATARIO
WHERE ID_USUARIO_DESTINATARIO = @ID_USUARIO_DESTINATARIO
AND FLAG_LIDO = 0

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO






CREATE   PROCEDURE [DBO].[OBTER_RECADOS_POR_DESTINATARIO]
@ID_USUARIO_DESTINATARIO int
AS
SELECT RD.ID_RECADO,R.DATA_RECADO,ASSUNTO,DESCRICAO,FLAG_LIDO,U.NOME,
dbo.Obter_arquivos_Por_Recado(RD.ID_RECADO) AS ARQUIVOS
FROM RECADO_USUARIO_DESTINATARIO RD,RECADO R,USUARIO U
WHERE RD.ID_RECADO = R.ID_RECADO
AND U.ID_USUARIO = R.ID_USUARIO_REMETENTE
AND ID_USUARIO_DESTINATARIO = @ID_USUARIO_DESTINATARIO
ORDER BY DATA_RECADO DESC




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO








CREATE  PROCEDURE [DBO].[OBTER_USUARIOS]
AS
SELECT ID_USUARIO,NOME,EMAIL FROM USUARIO ORDER BY NOME



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO







CREATE PROCEDURE [DBO].[OBTER_USUARIO_POR_LOGIN]
@LOGIN VARCHAR(50)
AS
SELECT ID_USUARIO,ID_CARGO,PERFIL,SENHA,NOME,RG,CPF,EMAIL,TELEFONE,
CELULAR,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CIDADE,ESTADO
FROM USUARIO WHERE LOGIN = @LOGIN




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO










CREATE        PROCEDURE [dbo].[REGISTRAR_PONTO]
@ID_PONTO int OUT,
@ID_USUARIO INT
AS
INSERT INTO PONTO VALUES
(CONVERT(DATETIME,CONVERT(varchar(12), GETDATE(), 101)),@ID_USUARIO,GETDATE(),NULL)
SET @ID_PONTO = SCOPE_IDENTITY()











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

