<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="INFOPonto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <INFOPonto.Properties.Settings>
      <setting name="smtp" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="loginSmtp" serializeAs="String">
        <value>XXXXX@gmail.com</value>
      </setting>
      <setting name="senhaSmtp" serializeAs="String">
        <value>XXXXX</value>
      </setting>
      <setting name="email" serializeAs="String">
        <value>infotimewebmail@gmail.com</value>
      </setting>
      <setting name="porta" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="enableSsl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rptLogin" serializeAs="String">
        <value>infoponto</value>
      </setting>
      <setting name="rptPwd" serializeAs="String">
        <value>XXXXXX</value>
      </setting>
      <setting name="pastaArquivosServidor" serializeAs="String">
        <value>\\server-dados\SISTEMAS\INFOPONTO\ArquivosRecado</value>
      </setting>
      <setting name="rptCaminhoAdministrativo" serializeAs="String">
        <value>\\servidor\Sistemas\InfoPonto\Administrativo\Rpt\</value>
      </setting>
      <setting name="connectionstring" serializeAs="String">
        <value>Data Source=SERVER-DADOS;Initial Catalog=InfoPonto;uid=infoponto;pwd=XXXXXXX;TimeOut=0;</value>
      </setting>
      <setting name="redeLogin" serializeAs="String">
        <value>InfoPonto</value>
      </setting>
      <setting name="redeSenha" serializeAs="String">
        <value>XXXXXXX</value>
      </setting>
      <setting name="servidorArquivos" serializeAs="String">
        <value>\\server-dados</value>
      </setting>
    </INFOPonto.Properties.Settings>
  </userSettings>
</configuration>